$main-bg-color: #a6c9ff;
$header-bg-color: #B47FF7;
$pink-secondary-color: #D87FF7;
$footer-bg-color: $pink-secondary-color;
$block-2-bg-color: #3ADE4B;
$dark-green-color: #497957;
$light-green-color: #00FF4A;
$yellow-accent-color: #D4FF5A;
$block-3-bg-color: $yellow-accent-color;

$main-text-color: #ffffff;
$btn-bg-color: #ff4b4b;


$common-font: 500 28px/45px "Roboto";
$main-title-font: 700 45px/45px "Roboto";
$secondary-title-font: 600 30px/45px "Roboto";
$card-font: 400 53px/62px "Roboto";
$btn-main-font: 400 24px/28px "Roboto";

$btn-shadow: 2px 5px 10px #497957;
$block-3-shadow: $btn-shadow;